.fatherEditProfile{
    min-height: 100vh;
    width: 100%;
}
.containerEditProfile{
    background-color: #454d66;
    min-height: 100vh;
}

.containerEditProfile .navigationBarEdit button{
    margin-top: 10px;
    text-align: left;
    color: white;
    border: 1px solid white;
}
.containerEditProfile .nav-pills .nav-link.active, .nav-pills .show>.nav-link{
    background: none;
    text-align: left;
    background-color: #c7417b;

}

.bodyEditProfile{
    background-color: whitesmoke;
    min-height: 100vh;
}

/*quitar borde blanco*/
.containerEditProfile>.row{
    margin:auto;
}

.card-responsive {
    width: 100% !important;


}


@media screen and (max-width: 1200px) {

    /* ===== =====>>  Container Css Start  <<===== ===== */
    .firstcolumn-responsive-marginbootom{
        margin-bottom: 5em !important;
       
    }
    
    .fatherEditProfile{
        min-height: 100vh;
        padding: 0 !important;
    }



    .nav-link {
        margin-right: 1em;
    }

  
    
  }

@media screen and (max-width: 767px) {

    .container-fluid .row{
        width: 100% !important;
    
    }
}