* {
  padding: 0;
  margin: 0;
}

/* .containerPrincipalFilter{
} */
.container-content {
  width: 100%;
}
.coloriconheart {
  color: fuchsia;
}
.row-contenedor-mylist {
  border: 1px black solid;
}
.input-group-text{
    background-color: white;
}
.span-dolar-input{
    width: 9%;
    text-align: center;
}

@media screen and (max-width: 1200px) {

  .btn-responsive {
  display: flex;
  align-items: center;
  justify-content: center;
  }

  }
