* {
  padding: 0;
  margin: 0;
}

.container-total-profile{
  display: flex;
  justify-content: center;
  margin-top: 40px;
}

.container-content {
  width: 85vw;
  height: 100vh;
}
.margintoplateraltwo {
  margin-top: 10rem;
}

.container-imagenprofile {
  position: relative;
}
.container-fondo-profile-edit {
  background-color: white;
  border: solid black 1px;
  width: 10px;
  height: 26px;
  top: 7%;
  position: absolute;
  left: calc(23% - 1px);
}
.iconrelative {
  position: absolute;
  top: 8%;
  left: calc(30% - 1px);
  cursor: pointer;

  /* background-color: black; */
}
