@media screen and (max-width: 1024px) {
  html {
    font-size: 9px;
  }
}

@media screen and (max-width: 900px) {
  html {
    font-size: 8px;
  }
}

@media screen and (max-width: 768px) {
  html {
    font-size: 10px;
  }

  /* ===== =====>>  Container Css Start  <<===== ===== */
  .container {
    grid-template-columns: 1fr;
    padding: 0;
    width: 90%;
    height: 100%;
  }

  .userDetails {
    margin-bottom: 3rem;
  }
  /* ===== =====>>  Header/Navbar Css Start  <<===== ===== */
  .container header {
    padding: 2.5rem;
  } 
}


